# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# IDE
*.swp
*.swo
*~
.idea/
.vscode/

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/
